$fontSize: 1.2rem;
$border: 1px solid gray;
$radius: 0.5rem;
$background: rgb(228, 228, 228);
$background-open: rgb(209, 209, 209);
$transition-time: 0.5s;

.select {
  width: 400px;
  display: flex;

  .button {
    cursor: pointer;
    flex: 1;
    display: flex;
    border: $border;
    border-radius: $radius;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    font-size: $fontSize;
    transition: background $transition-time linear;
    background-color: $background;
    &.open {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background-color: $background-open;
    }
  }
}

.menu {
  position: fixed;
  transition: position 0.1s linear;
  border: $border;
  border-radius: $radius;
  background-color: $background;
  &.open {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .option {
    cursor: pointer;
    height: 2.5rem;
    font-size: $fontSize;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background $transition-time linear;
    &:hover,
    &.selected {
      background-color: $background-open;
    }
    &::before {
      content: "";
      width: 60%;
      border-top: $border;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      z-index: 1;
    }
  }
}
