$fontSize: 1.2rem;
$border: 1px solid gray;
$background: rgb(228, 228, 228);
$background-open: rgb(209, 209, 209);
$transition-time: 0.5s;

.select {
  width: 400px;
  display: flex;
  user-select: none;
  .button {
    cursor: pointer;
    flex: 1;
    display: flex;
    border: $border;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    font-size: $fontSize;
    transition: background $transition-time linear;
    background-color: $background;
    &.button-multi.plcaholder {
      justify-content: center;
      align-items: center;
    }
    &.button-multi {
      flex-wrap: wrap;
      justify-content: initial;
      align-items: initial;
      .tag {
        padding: 0.3rem;
        display: flex;
        align-items: center;
        .tag-close {
          padding: 0.2rem 0.3rem;
          border: 1px solid rgb(82, 82, 82);
          margin-left: 0.3rem;
        }
      }
    }
    &.open {
      border-bottom-color: $background-open;
      background-color: $background-open;
    }
  }
}

.menu {
  position: fixed;
  transition: position 0.1s linear;
  border: $border;
  background-color: $background;
  &.open {
    border-top-color: $background-open;
  }
  .option {
    &.empty {
      justify-content: center;
      // align-items: initial;
    }
    .button-close {
      flex: 1;
      font-size: $fontSize;
      text-align: center;
      cursor: pointer;
    }
    cursor: pointer;
    height: 2.5rem;
    font-size: $fontSize;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background $transition-time linear;
    &.hover,
    &.selected {
      background-color: $background-open;
    }
    &::before {
      content: "";
      width: 60%;
      border-top: $border;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      z-index: 1;
    }
  }
}
